# Local environment variables
.env

# Python virtual environment
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Python cache
__pycache__/
*.pyc

# Database files
*.db

